
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With Email Address"  name="email" [(ngModel)]="email"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findRiderByEmailId()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>ridername</th>
            <th>email</th>
            <th>startaddress</th>
            <th>endaddress</th>        
        </tr>
    </thead>
    <tbody><tr><!---- *ngFor="let user of users">-->
       <tr>
        <td>{{rider.id}}</td>
        <td>{{rider.ridername}}</td>
        <td>{{rider.email}}</td>
        <td>{{rider.startaddress}}</td>
        <td>{{rider.endaddress}}</td>   
        </tr>
        
<!--<td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteRider(rider.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td><-->
      
</tbody>
</table>
</div>
</div>


