
  <div class="jumbotron text-center">
  <h1>welcome to Carpooling Application</h1>
  <p>Make the most with carpool
   Reduce Cost, Reduce carbon footprints, Reduce Traffic, Grow your network</p>
</div>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
   
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        
       
        <a routerLink="/register" class="nav-link" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </nav>
  <header class="header">
<div class="logo1">
<img src="../assets/carppooling3.jpg" width="200" height="200">


</div>
    
</header>

  <footer class="footer">
    <div class="logo">
  <img src="../assets/carpooling.jpg" width="500" height="500" >   
    </div>
    
    <div class="container">
        
      <span>All Rights Reserved @virtusa</span>
    </div>
 </footer>
